@model mvccurdStoredProcedureWithEntityFrameWork.Models.Branch
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
        <table>
            <tr>
                <td>
                    BrenchId
                </td>
                <td>@Html.TextBoxFor(a => a.BranchId)</td>
            </tr>
            <tr>
                <td>
                    BrenchName
                </td>
                <td>@Html.TextBoxFor(a => a.BranchName)</td>
            </tr>
             
            <tr>
                <td>
                   
                </td>
                <td><input type="submit" name="btnsubmite"value="insert" /></td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
