@model  IEnumerable<mvccurdStoredProcedureWithEntityFrameWork.Models.sp_select_branch_Result>
   
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
       Index
    </title>
</head>
<body>
    <div>
        <table>
            <tr><td>BranchId</td><td>BranchName</td></tr>
            @foreach (var item in Model)
            {

            <tr>
                <th>@Html.DisplayFor(a => item.BranchId)</th>
                <th>@Html.DisplayFor(a => item.BranchName)</th>


                <th>@Html.ActionLink("Edit", "Edit", new { id = item.BranchId }) || @Html.ActionLink("Delete", "Delete", new { id = item.BranchId })</th>
               
            </tr>



            }

        </table>
</div>
</body>
</html>
